@import "tailwindcss";

/* 🔥 1. MANTRA SAKTI TAILWIND V4 BUAT DARK MODE CLASS 🔥 */
@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-pixel: var(--font-pixel);
  --font-pixellari: 'Pixellari', sans-serif;
}

@font-face {
  font-family: 'Pixellari';
  src: url('/font/pixellari.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.font-pixellari {
  font-family: 'Pixellari', sans-serif !important;
}

.poppins {
  font-family: var(--font-poppins), cursive !important;
}

.font-pixel {
  font-family: var(--font-pixel), cursive !important;
}

/* 🔥 2. BAGIAN @media (prefers-color-scheme) UDAH BANG SEPUH BUANG KE TONG SAMPAH! 🔥 */

/* 🔥 3. BODY DIBERSIHIN BIAR NURUT SAMA CLASS DI LAYOUT.JS 🔥 */
body {
  font-family: Arial, Helvetica, sans-serif;  
}